.test {
  size-list: "(min-width:1668px) and (max-width:2000px)" 12 6.5%, "(min-width:1334px) and (max-width:1667px)" 6 15%, "(min-width:1001px) and (max-width:1333px)" 4 23.5%, "(min-width:668px) and (max-width:1000px)" 3 32%, "(min-width:334px) and (max-width:667px)" 2 49%, "(min-width:0) and (max-width:333px)" 1 100%;
  breakpoint-number: 6;
  breakpoints: 333px, 667px, 1000px, 1333px, 1667px, 2000px;
  query: "(min-width:0) and (max-width:333px)", "(min-width:334px) and (max-width:667px)", "(min-width:668px) and (max-width:1000px)", "(min-width:1001px) and (max-width:1333px)", "(min-width:1334px) and (max-width:1667px)", "(min-width:1668px) and (max-width:2000px)"; }

@media screen and (min-width: 1668px) and (max-width: 2000px) {
  .s-1-12 {
    width: 6.5%; }
    .s-1-12:nth-of-type(12n+12), .s-1-12:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1334px) and (max-width: 1667px) {
  .s-1-12 {
    width: 15%; }
    .s-1-12:nth-of-type(6n+6), .s-1-12:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1001px) and (max-width: 1333px) {
  .s-1-12 {
    width: 23.5%; }
    .s-1-12:nth-of-type(4n+4), .s-1-12:last-child {
      margin-right: 0; } }
@media screen and (min-width: 668px) and (max-width: 1000px) {
  .s-1-12 {
    width: 32%; }
    .s-1-12:nth-of-type(3n+3), .s-1-12:last-child {
      margin-right: 0; } }
@media screen and (min-width: 334px) and (max-width: 667px) {
  .s-1-12 {
    width: 49%; }
    .s-1-12:nth-of-type(2n+2), .s-1-12:last-child {
      margin-right: 0; } }
@media screen and (min-width: 0) and (max-width: 333px) {
  .s-1-12 {
    width: 100%; }
    .s-1-12:nth-of-type(1n+1), .s-1-12:last-child {
      margin-right: 0; } }

.s-1-12 {
  border: solid 1px red;
  margin-right: 2%; }
  @media screen and (min-width: 1668px) and (max-width: 2000px) {
    .s-1-12 .s-1-12 {
      width: 6.5%; }
      .s-1-12 .s-1-12:nth-of-type(12n+12), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1334px) and (max-width: 1667px) {
    .s-1-12 .s-1-12 {
      width: 15%; }
      .s-1-12 .s-1-12:nth-of-type(6n+6), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1001px) and (max-width: 1333px) {
    .s-1-12 .s-1-12 {
      width: 23.5%; }
      .s-1-12 .s-1-12:nth-of-type(4n+4), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 668px) and (max-width: 1000px) {
    .s-1-12 .s-1-12 {
      width: 32%; }
      .s-1-12 .s-1-12:nth-of-type(3n+3), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 334px) and (max-width: 667px) {
    .s-1-12 .s-1-12 {
      width: 49%; }
      .s-1-12 .s-1-12:nth-of-type(2n+2), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0) and (max-width: 333px) {
    .s-1-12 .s-1-12 {
      width: 100%; }
      .s-1-12 .s-1-12:nth-of-type(1n+1), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }

.s-1-12 {
  display: inline-block;
  vertical-align: top; }

.s-1-12 {
  position: relative;
  margin-right: calc(2% - .35em); }

html, body {
  margin: 0;
  padding: 0;
  border: 0; }

div,
span,
object,
iframe,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl, dt, dd,
ol, ul, li,
fieldset,
form,
label,
legend,
caption,
table, tbody, tfoot, thead,
tr, th, td,
article,
aside,
dialog,
figure,
header, footer,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table,
th,
td {
  vertical-align: top; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

blockquote,
q {
  quotes: none; }

a img {
  border: none; }

:focus {
  outline: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
dialog {
  display: block; }

input,
select {
  vertical-align: middle; }

button {
  width: auto;
  overflow: visible;
  outline: none;
  -webkit-border-fit: border !important;
  -webkit-appearance: none; }
  button:focus {
    outline: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0; }

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.grid__content {
  border: solid 1px #00ac65; }
  @media screen and (min-width: 768px) and (max-width: 990px) {
    .grid__content {
      border: solid 1px #b268db; } }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .grid__content {
      border: solid 1px #318f8f; } }
  @media screen and (max-width: 479px) {
    .grid__content {
      border: solid 1px #e9662c; } }
  @media screen and (min-width: 991px) and (max-height: 680px) {
    .grid__content {
      border: solid 1px #ebaf3c; } }

/*# sourceMappingURL=base.css.map */
