@media screen and (min-width: 1441px) and (max-width: 1800px) {
  .s-1-12 {
    width: 4.375%; }
    .s-1-12:nth-of-type(16n+16), .s-1-12:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1081px) and (max-width: 1440px) {
  .s-1-12 {
    width: 10.75%; }
    .s-1-12:nth-of-type(8n+8), .s-1-12:last-child {
      margin-right: 0; } }
@media screen and (min-width: 721px) and (max-width: 1080px) {
  .s-1-12 {
    width: 23.5%; }
    .s-1-12:nth-of-type(4n+4), .s-1-12:last-child {
      margin-right: 0; } }
@media screen and (min-width: 361px) and (max-width: 720px) {
  .s-1-12 {
    width: 49%; }
    .s-1-12:nth-of-type(2n+2), .s-1-12:last-child {
      margin-right: 0; } }
@media screen and (min-width: 0) and (max-width: 360px) {
  .s-1-12 {
    width: 100%; }
    .s-1-12:nth-of-type(1n+1), .s-1-12:last-child {
      margin-right: 0; } }

.s-1-12 {
  border: solid 1px red;
  margin-right: 2%; }
  @media screen and (min-width: 1441px) and (max-width: 1800px) {
    .s-1-12 .s-1-12 {
      width: 4.375%; }
      .s-1-12 .s-1-12:nth-of-type(16n+16), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1081px) and (max-width: 1440px) {
    .s-1-12 .s-1-12 {
      width: 10.75%; }
      .s-1-12 .s-1-12:nth-of-type(8n+8), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 721px) and (max-width: 1080px) {
    .s-1-12 .s-1-12 {
      width: 23.5%; }
      .s-1-12 .s-1-12:nth-of-type(4n+4), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 361px) and (max-width: 720px) {
    .s-1-12 .s-1-12 {
      width: 49%; }
      .s-1-12 .s-1-12:nth-of-type(2n+2), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0) and (max-width: 360px) {
    .s-1-12 .s-1-12 {
      width: 100%; }
      .s-1-12 .s-1-12:nth-of-type(1n+1), .s-1-12 .s-1-12:last-child {
        margin-right: 0; } }

.s-1-12 {
  display: inline-block;
  vertical-align: top; }

.s-1-12 {
  position: relative;
  margin-right: calc(2% - .35em); }

html, body {
  margin: 0;
  padding: 0;
  border: 0; }

div,
span,
object,
iframe,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl, dt, dd,
ol, ul, li,
fieldset,
form,
label,
legend,
caption,
table, tbody, tfoot, thead,
tr, th, td,
article,
aside,
dialog,
figure,
header, footer,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table,
th,
td {
  vertical-align: top; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

blockquote,
q {
  quotes: none; }

a img {
  border: none; }

:focus {
  outline: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
dialog {
  display: block; }

input,
select {
  vertical-align: middle; }

button {
  width: auto;
  overflow: visible;
  outline: none;
  -webkit-border-fit: border !important;
  -webkit-appearance: none; }
  button:focus {
    outline: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0; }

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.grid__content .s-1-12 {
  margin-top: 1em; }

/*# sourceMappingURL=base.css.map */
