// your basic layout styles here, like

@include font-reset(16);

body {
  @include font--normal;
}

a {
  @include link($col-link);
}

p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

@include centered-content(90%, $max-page-width, 95%, 90%, '.content__wrapper', '.content');


.content {
  @extend %section;
  padding-bottom: 2em;
}

.header__title--subtitle,
.grid__title,
.table__title,
.footer__title {
  @extend %subtitle;
}

.intro,
.features,
.form__12-columns,
.form__6-columns,
.form__4-columns,
.form__3-columns {
  @extend %grid-container !optional;
}

.header__title {
  &::before {
    @extend %icon;
    content: icon(heart-outline);
  }
}

.list-container {
  @include grid(8 gap, 8 gap, 7 gap, 12);
  margin-bottom: 3em;
}

.feature-list {
  @include list-style(icon(star), $pink);
  margin: 0;
  padding: 0;
}

.feature-list__icon::before {
  @extend %icon;
  padding-right: .2em;
  content: icon(heart);
}

.main-nav__col {
  padding: 1em;
}

.animation-block {
  @include grid(4, 4, 5, 12);
  @include debug(true);
  margin-bottom: 2em;
  text-align: center;
}

.features__buttons {
  @extend %block;
  @include grid(8 gap, 6 gap, 7 gap, 12);
}

.features__form {
  @extend %block, %form--half;
  @include grid(4, 6, 5, 12);

  form {
    @extend %grid-container !optional;
  }
}

.smart__container {
  > * {
    @include context-aware-sizing(div, 6, 4);
  }
}

.smart {

  @extend %block;
}

.mixed-sizies {
  @extend %grid-container !optional;
}

.mixed-sizes--1 {
  @extend %block;
  @include grid(1 gap, 2 gap, 3 gap, 6 gap);
}

.mixed-sizes--2 {
  @extend %block;
  @include grid(11, 10, 9, 6);
}

.mixed-sizes--3 {
  @extend %block;
  @include grid(2 gap, 4 gap, 12, 12);
}

.mixed-sizes--4 {
  @extend %block;
  @include grid(7 gap, 8, 12, 12);
}

.mixed-sizes--5 {
  @extend %block;
  @include grid(2 gap, 6 gap, 6 gap, 12);
}

.mixed-sizes--6 {
  @extend %block;
  @include grid(1, 6, 6, 12);
}

.mixed-sizes--7 {
  @extend %block;
  @include grid(3 gap, 6 gap, 12, 12);
}

.mixed-sizes--8 {
  @extend %block;
  @include grid(4 gap, 6, 12 12);
}

.mixed-sizes--9 {
  @extend %block;
  @include grid(3 gap, 6 gap, 6 gap, 12);
}

.mixed-sizes--10 {
  @extend %block;
  @include grid(2, 6, 6, 12);
}


.form__12-columns {
  @extend %grid-container !optional;

  .control {
    @extend %block;
    @include per-row(12, 6, 4, 2);
  }
}

.form__6-columns {
  @extend %block;

  .control {
    @include per-row(6, 3, 3);
  }
}

.form__4-columns {
  .control {
    @extend %block;
    @include per-row(4, 4, 2);
  }
}

.form__3-columns {
  @extend %block;

  .control {
    @include per-row(3, 3, 2);
  }
}
