// your basic layout styles here, like

body {
  margin: 0;
  padding: 0 0 2em;
  width: 100%;
  @include debug;
  @include normal-font;
}

a {
  @include color($col-link);

  &:visited {
    color: darken(desaturate($col-link, 55%), 5%);
  }

  &:hover,
  &:active {
    color: lighten($col-link, 10%);
  }
}

p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

.header,
.features,
.grid,
.footer {
  @extend %wrap;

  @include element(content) {
    @extend %element;
  }

  @include element(title) {

    @extend %title;

    @include modifier(subtitle) {
      @extend %subtitle;
    }
  }
}

@include centered-content(80%, $max-page-width, '.header', '.header__content');
@include centered-content(80%, $max-page-width, '.grid', '.grid__content');
@include centered-content(80%, $max-page-width, '.features', '.features__content');
@include centered-content(80%, $max-page-width, '.footer', '.footer__content');

.features__buttons {
  @extend %s-7-12, %grid-margin, %block;
}

.features__form {
  @extend %s-5-12, %last, %block, %form--half;
}


.s-1 {
  @extend %s-1-12;
  @extend %block;
}

.s-2 {
  @extend %s-2-12;
  @extend %block;
}

.s-3 {
  @extend %s-3-12;
  @extend %block;
}

.s-4 {
  @extend %s-4-12;
  @extend %block;
}

.s-5 {
  @extend %s-5-12;
  @extend %block;
}

.s-6 {
  @extend %s-6-12;
  @extend %block;
}

.s-7 {
  @extend %s-7-12;
  @extend %block;
}

.s-8 {
  @extend %s-8-12;
  @extend %block;
}

.s-9 {
  @extend %s-9-12;
  @extend %block;
}

.s-10 {
  @extend %s-10-12;
  @extend %block;
}

.s-11 {
  @extend %s-11-12;
  @extend %block;
}

.s-12 {
  @extend %s-12-12;
  @extend %block;
}

.debug {
  @include debug;
}
