%debug {
  @include debug;
}

.debug {
  @extend %debug;
}

%small-padding-top-bottom {
  padding: .5em 0;
}

%wrap {
  @include breakpoint(normal) {
    padding: 0 5%;
  }

  @include breakpoint(small) {
    padding: 0 2em;
  }

  @include breakpoint(mobile) {
    padding: 0 1em;
  }
}

%element {
  @include clearfix;
  padding: 1em 0;

  @include breakpoint(normal) {
    padding: 1em 0 .5em;
  }

  @include breakpoint(widescreen) {
    padding: .5em 0;
  }

  @include breakpoint(devices) {
    padding: .5em 0;
  }
}

%title {
  @include font--italic;
  @include font-size(2);
  margin: .5em 0 .2em;
  line-height: .8em;
}

%subtitle {
  @include font-size(1.2);
  margin: -.2em 0 .5em;
  color: lighten($black, 30%);

  @include breakpoint(devices) {
    margin-top: 0;
  }
}

%block-skin {
  $color-from: darken($white, 8);
  $color-to: lighten($black, 100 - 8);

  @include gradient($color-from, $color-to);
  @include box-shadow((
    0 0 0 1px transparentize(darken($color-to, 40%), .8) inset
  ));
  @include color(lighten($black, 30%));

  border-radius: .5em;

  @include breakpoint(widescreen) {
    padding: .5em 1em;
  }

  @include breakpoint(normal) {
    padding: .5em;
  }

  @include breakpoint(devices) {
    border-radius: .3em;
    padding: .4em;
  }
}

%block {
  @extend %block-skin;
  @include font--italic;
  margin-bottom: 1em;
  padding: 1em;
}
