a {
	@include color($col-link);
	&:visited {
		color: darken(desaturate($col-link, 55%), 5%);
	}
	&:hover, &:active {
		color: lighten($col-link, 10%);
	}
}

p {
  line-height:1.5em;
  margin-bottom: 1em;
}

h1 {
	@include em-font;
	font-size: 2em;
	line-height: .8em;
	margin: .5em 0 .2em;
	@include breakpoint(normal) {
		font-size: 1.8em;
	}
	@include breakpoint(devices) {
		font-size: 1.5em;
	}
}

h2 {
	font-size: 1em;
	margin: -.5em 0 0;
	color: lighten($black, 30%);
	@include breakpoint(devices) {
		margin-top: 0;
	}
}

ul {
	list-style: none;
	&.horizontal {
		li {
			@include inline-block;
		}
	}
	&.vertical {
		li {
			display: block;
			list-style: disc;
			margin: .7em 0;
			padding-left: 1.5em;
		}
	}
}

.debug {
	@include debug;
}