// inputs
%input-skin {
  @include box-shadow((
    0 0 .1em .1em transparentize(darken($input-bg, 20%), .5) inset
    ));

  border: solid .1em $input-border;
  border-radius: $input-radius;
  background-color: $input-bg;
  font-size: 1em;

  &:focus {
    @include box-shadow((
      0 0 .1em .1em transparentize(darken($input-border--focus, 30%), .5) inset
      ));

    outline: none;
    border-color: $input-border--focus;
    background-color: $input-bg--focus;
  }

  &:disabled {
    @include box-shadow((
      0 0 0 0 $transparent inset
      ));

    border-color: $input-border--disabled;
    background-color: lighten($input-bg--disabled, 5%);
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: $input-placeholder-color;
  }

  .error & {
    border: $input-bg--err solid 2px;
  }

  &:-webkit-autofill {
    @include box-shadow((
      0 0 0 1000px lighten(saturate($input-bg, 10%), 5%) inset,
      0 0 2px 0 transparentize(darken($input-border--focus, 5%), .5) inset
      ));
    &:focus {
      @include box-shadow((
        0 0 0 1000px lighten(saturate($input-bg, 10%), 3%) inset,
        0 0 2px 1px transparentize(darken($input-border--focus, 5%), .5) inset
        ));
    }
  }
}


label,
.label {
  display: block;
  margin-bottom: .3em;
  vertical-align: middle;
}


[type="text"],
[type="password"],
[type="email"],
[type="number"],
select {
  @extend %input-skin;
  width: 100%;
  max-width: 18em;
}

[type="text"],
[type="password"],
[type="email"],
[type="number"] {
  padding: .4em .5em;
}

select {
  background-image: url('../img/ico.dropdown.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: .42em .5em;
  -webkit-appearance: button;
  -moz-appearance: button;
}

textarea {
  @extend %input-skin;
  padding: .55em .5em;
  width: 100%;
  min-height: 10em;
}

[type="radio"],
[type="checkbox"] {
  display: inline;
  margin: 0;
  width: auto;
  vertical-align: middle;

  + label {
    display: inline;
    margin: 0 1em 0 .1em;
    vertical-align: middle;
  }

  &:disabled {
    + label {
      color: $input-label--disabled;
    }
  }

  .checkbox--newline & + label {
    margin: 0 0 0 .1em;

    &::after {
      display: block;
      padding-bottom: .5em;
      content: '';
    }

    &:last-child::after {
      display: none;
    }
  }
}

.control {
  margin-bottom: .5em;
}


%form--fourth {
  .control {
    @include per-row(4, 2, 2);

    input,
    select {
      max-width: 15em;
    }

    .error-message {
      max-width: 14em;
    }
  }
}

%form--third {
  .control {
    @include per-row(3, 3, 2);

    input,
    select {
      max-width: 18em;
    }

    .error-message {
      max-width: 17em;
    }
  }
}

%form--half {
  .control {
    @include per-row(2, 2, 1);

    input,
    select {
      max-width: 22em;
    }

    .error-message {
      max-width: 21em;
    }
  }
}

%form--full {
  .control {
    @include per-row(1, 1, 1);

    input,
    select {
      max-width: 22em;
    }

    .error-message {
      max-width: 21em;
    }
  }
}

