@include centered-content(80%, $max-page-width, 95%, 90%, '.header__container', '.header');


.header__container {
  background: $bg-color;
  margin-bottom: 1em;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
}

.header__title {
  @extend %title;
}
