.data {
  @extend %block-skin;

  thead tr {
    border-radius: $bt-corner-radius $bt-corner-radius 0 0;
    background: $col-table-header;

    @include breakpoint(small-down) {
      padding: .5em;
    }
  }

  thead th {
    @include font--italic;
    border-bottom: solid 1px $col-table-border;
    padding: 1em .5em;
    vertical-align: bottom;

    @include breakpoint(small-down) {
      border: 0;
      padding: 0;
    }

    &:first-child {
      border-radius: $bt-corner-radius 0 0;
    }

    &:last-child {
      border-radius: 0 $bt-corner-radius 0 0;
    }
  }

  tr {
    @include breakpoint(small-down) {
      border-bottom: solid 1px $col-table-border;

      &:last-child {
        border: 0;
      }
    }

    &:last-child td {
      border-bottom: 0;
    }

    &:nth-child(even) {
      background: transparentize($white, .5);
    }
  }

  td {
    border-bottom: solid 1px $col-table-border;
    padding: .5em;

    @include breakpoint(small-down) {
      border-bottom: 0;
    }
  }
}


.data__item--primary {
  @include breakpoint(small-down) {
    width: 30%;
  }
}

.data__item--secondary {
  @include breakpoint(small-down) {
    width: 20%;
  }
}

.data__comment {
  @include breakpoint(small-down) {
    width: 80%;
  }
}

.data__action {
  @include breakpoint(small-down) {
    width: 20%;
  }
}
