a {
  color: $link-normal;

  &:visited {
    color: $link-visited;
  }

  &:hover {
    color: $link-hover;
  }
}

p {
  line-height:1.5em;
  margin-bottom: 1em;
}

h1, h2 {
  font-family: Georgia, serif;
  font-weight:normal;
  line-height: 1.1em;
}

ul {
	list-style: none;
	&.horizontal {
		li {
			@include inline-block;
		}
	}
	&.vertical {
		li {
			display: block;
			list-style: disc;
			margin: .7em 0;
			padding-left: 1.5em;
		}
	}
}