// normalizing button styles
@mixin buttonormalize(
		$font-size: 1em,
		$padding: .2em 1.4em,
		$corner-radius: .3em
	) {
	@include inline-block;

	@include position(relative, auto auto auto auto, 1);
	margin: 0;
	padding: $padding;
	-webkit-appearance: none;

	@include width(auto, 55px);
	@include rounded($corner-radius);

	font-size: $font-size;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

// buttons
@mixin button(
		$color,
		$typography-color: $black,
		$hoverable: true
	) {

	background: $color;

	border: solid 1px $color;						// old browsers
	border-bottom: darken($color,10%) 4px solid;	// old browsers

	&:not(.IE8) {
		border: none; 								// normal browsers override
	}

	@include color($typography-color);
	@include box-shadow((
		0px 4px 0px 0px darken($color,10%),
		0px 2px 0px 1px transparentize(darken($color,30%), .9)
	));


	@if $hoverable == true {
		&:hover {
			color: lighten($typography-color,5%);
			@include gradient(lighten($color,5%), $color);
			@include box-shadow((
				0px 4px 0px 0px darken($color,15%),
				0px 5px 1px 1px transparentize(darken($color,30%), .8)
			));
		}
		&:active {
			top:1px;
			background: $color;
			@include box-shadow((
				0px 3px 0px 0px darken($color,10%),
				0px 4px 1px 1px transparentize(darken($color,30%), .8)
			));
			outline : none;
		}
	}
	@else {
		&:hover, &:active {
			background: $color;
			top: 0px;
			cursor: default;
			border: none;
			color: $typography-color;
			@include box-shadow((
				0px 4px 0px 0px darken($color,10%),
				0px 2px 0px 1px transparentize(darken($color,30%), .9)
			));
			background-image: none;
		}
	}
}

@mixin arrow_box($position, $distance, $bg_color, $size) {
	position: relative;
	background: $bg_color;

	&:after {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		border-color: transparentize($bg_color, 1);
		border-width: $size;
	}

	@if $position == 'top' {
		&:after {
			bottom: 100%;
			border-bottom-color: $bg_color;
			left: $distance;
			margin-left: -$size;
		}
	}
	@else if $position == 'right' {
		&:after {
			left: 100%;
			border-left-color: $bg_color;
			top: $distance;
			margin-top: -$size;
		}
	}
	@else if $position == 'bottom' {
		&:after {
			top: 100%;
			border-top-color: $bg_color;
			left: $distance;
			margin-left: -$size;
		}
	}
	@else if $position == 'left' {
		&:after {
			right: 100%;
			border-right-color: $bg_color;
			top: $distance;
			margin-top: -$size;
		}
	}
}