// Define screen sizes for
// @mixin breakpoint(...)

// most-user screen widths
$breakpoint-width-wide:     990px !default;
$breakpoint-width-normal:   768px !default;
$breakpoint-width-mobile:   480px !default;
$breakpoint-height-small:    680px !default;

$breakpoints: (
  'wide': (min-width: $breakpoint-width-wide + 1),
  'normal': (min-width: $breakpoint-width-normal, max-width: $breakpoint-width-wide),
  'small': (min-width: $breakpoint-width-mobile, max-width: $breakpoint-width-normal - 1),
  'mobile': (max-width: $breakpoint-width-mobile - 1),
  'widescreen': (min-width: $breakpoint-width-wide - 1, max-height: $breakpoint-height-small),
  'devices': (max-width: $breakpoint-width-normal - 1),
);

// build @media queries for
// @mixin breakpoint(...)
@import 'commons/utilities/responsive';
