// grid parameters

$columns:                   12;
$margin-bit:                2%;
$max-screen:                1800px;


// calculated size
$size-bit:                  (100% - ($columns - 1) * $margin-bit) / $columns;
$max-page-width:            1300px;
$inline-block-gap:          .28rem;

// solid theme colors
$transparent:               transparent;
$black:                     rgba(26, 28, 32, 1);
$white:                     rgba(255, 255, 255, 1);
$col-link:                  rgba(0, 136, 193, 1);
$green:                     rgba(61, 132, 57, 1);
$pink:                      rgba(210, 55, 124, 1);
$gray:                      rgba(196, 196, 196, 1);

// debug colors
$col-debug-wide:            rgba(0, 172, 101, 1);
$col-debug-normal:          rgba(178, 104, 219, 1);
$col-debug-small:           rgba(49, 143, 143, 1);
$col-debug-mobile:          rgba(233, 102, 44, 1);
$col-debug-widescreen:      rgba(235, 175, 60, 1);


// buttons
$bt-font-size-default:      1em;
$bt-padding-default:        .2em 1.4em;
$bt-corner-radius:          .3em;
$bt-max-width:              55px;

$bt-color--primary:          $pink;
$bt-color--secondary:        $green;
$bt-color--disabled:         $gray;


// inputs
$input-bg:                  rgba(209, 219, 224, 1);
$input-border:              rgba(60, 133, 171, 1);
$input-radius:              .2em;
$input-bg--focus:           darken($input-bg, 5%);
$input-border--focus:       rgba(19, 115, 164, 1);
$input-bg--disabled:        lighten($gray, 10%);
$input-border--disabled:    lighten($gray, 5%);
$input-placeholder-color:   $gray;
$input-bg--err:             rgba(236, 32, 56, 1);

// table:
$col-table-border:          lighten($gray, 5%);
$col-table-header:          rgba(209, 219, 224, 1);
