// grid parameters

$columns:                   12;
$margin-bit:                2%;
$margin-bit--falback:       1.1%;
$max-screen:                1800px;
$max-page-width:            1300px;
$inline-block-gap:          .25rem;
$inline-block-gap-flb:      3px;
$base-font-size:            16;

$breakpoint-width-wide:     990px;
$breakpoint-width-normal:   768px;
$breakpoint-width-mobile:   480px;
$breakpoint-height-small:   680px;

// solid theme colors
$transparent:               transparent;
$black:                     rgba(26, 28, 32, 1);
$white:                     rgba(255, 255, 255, 1);
$col-link:                  rgba(0, 136, 193, 1);
$green:                     rgba(61, 132, 57, 1);
$pink:                      rgba(210, 55, 124, 1);
$gray:                      rgba(196, 196, 196, 1);

// buttons
$bt-font-size-default:      1em;
$bt-padding-default:        .2em 1.4em;
$bt-corner-radius:          .3em;
$bt-max-width:              55px;

$bt-color--primary:          $pink;
$bt-color--secondary:        $green;
$bt-color--disabled:         $gray;


// inputs
$input-bg:                  rgba(209, 219, 224, 1);
$input-border:              rgba(60, 133, 171, 1);
$input-radius:              .2em;
$input-bg--focus:           darken($input-bg, 5%);
$input-border--focus:       rgba(19, 115, 164, 1);
$input-bg--disabled:        lighten($gray, 10%);
$input-border--disabled:    lighten($gray, 5%);
$input-placeholder-color:   $gray;
$input-bg--err:             rgba(236, 32, 56, 1);

// table:
$col-table-border:          lighten($gray, 5%);
$col-table-header:          rgba(209, 219, 224, 1);

$footer-heigth:             5em;
