// pretty italic
@mixin em_font {
	font-family:   "Palatino", "Palatino Lynotype", times, georgia, serif;
	font-style:    italic;
	font-weight:   normal;
}
// simple non-underiliner
@mixin nonunderlined {
	text-decoration: none;
}