// set initial font-size on html for responsive typography

@mixin font-reset($body-size: 16) {
  $default-size: 16;

  html {
    font-size: $body-size/$default-size * 100%; // 14px

    @include breakpoint(devices) {
      font-size: $body-size/$default-size * 85.7142857%; // 12px
    }
  }
}

// normal sans-serif
@mixin font--normal {
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: normal;
}

// pretty italic
@mixin font--italic {
  font-family: 'Palatino', 'Palatino Lynotype', times, georgia, serif;
  font-style: italic;
  font-weight: normal;
}
