// Custom prefixizer for simple flex box
// use:
// @include flex-display(column);

@mixin flex-display($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex($value) {
  flex: $value;
}
