// simple 2 colors gradient
// use:
// @include gradient($black, $gray, '../img/texture.png', top);

@mixin gradient(
  $color1,
  $color2,
  $image: false,
  $direction: to bottom,
  $webkit-direction: $direction
  ) {

  @if $image == false {
    background: linear-gradient($direction, $color1, $color2);
  }
  @else {
    background: url($image), linear-gradient(to bottom, $color1, $color2);
  }
}
