// text-shadow
// use:
// @include text-shadow(0 -1px 0 $white);

@mixin text-shadow($params) {
    text-shadow: $params;
}


// automatically places a text-shadow on a text
// use:
// @include color($white)

@mixin color($color, $force: false) {
    @if $force == true {
         color:$color !important;
    }
    @else {
        color:$color;
    }
    @if lightness($color) > 60% {
    	@include text-shadow((
			0 0 0 transparent,
			0px -1px 0px rgba(0,0,0,.5)
		));
    }
    @else {
    	@include text-shadow((
			0 0 0 transparent,
			0px 1px 0px rgba(255,255,255,.5)
		));
    }
}