// Animation keyframe definition
// use:
// @include keyframe(jump) {
//     from { top: 2em; }
//     to { top: 0; }
// }


// scss-lint:disable VendorPrefix
@mixin keyframe($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}
// scss-lint:enable VendorPrefix

// Animation
// use:
// @include animation(jump, 20s, 1s, infinite, alternate, ease-in-out);

@mixin animation($name, $duration, $delay: 0, $count: 1, $direction: normal, $timing: linear) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
  animation-iteration-count: $count;
  animation-direction: $direction;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
}
