// normalizing button styles
@mixin button-size(
    $font-size: $bt-font-size,
    $padding: $bt-padding-default,
    $corner-radius: $bt-corner-radius
  ) {
  @include inline-block;
  @include position(relative, auto auto auto auto, 1);
  @include width(auto, $bt-max-width);
  @include rounded($corner-radius);

  margin: 0;
  padding: $padding;
  -webkit-appearance: none;

  font-size: $font-size;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
