// An element withing wrap container is centered and has it's own width
// use:
// @include centered-content(100%, 650px, 1200px);

@mixin centered-content(
  $element-width,
  $max-element-width: $element-width,
  $element-width--normal: $element-width,
  $element-width--small: $element-width,
  $wrapper: unquote('.wrap'),
  $element: unquote('.element')
  ) {

  #{$wrapper} {
    width: 100%;
    text-align: center;
  }

  #{$element} {
    margin: 0 auto;
    width: $element-width;
    max-width: $max-element-width;
    text-align: left;

    @include breakpoint(normal) {
      width: $element-width--normal;
      max-width: none;
    }

    @include breakpoint(small) {
      width: $element-width--small;
      max-width: none;
    }

    @include breakpoint(mobile) {
      padding-right: 1em;
      padding-left: 1em;
      width: 100%;
      max-width: none;
    }
  }
}
