// Color your links
// use:
// @include link($red);

@mixin link($color) {
  color: $color;

  &:visited {
    color: desaturate($color, 5%);
  }

  &:hover,
  &:focus,
  &:active {
    color: lighten($color, 15%);
  }

  &:focus {
    outline: 0;
  }
}
