// Color your links
// use:
// @include link($red);

@mixin link(
  $color,
  $hover: $color
  ) {
  color: $color;

  &:visited {
    color: desaturate($color, 5%);
  }

  &:hover,
  &:focus,
  &:active {
    @if($hover != $color) {
      color: $hover;
    } @else {
      color: lighten($hover, 15%);
    }
  }

  &:focus {
    outline: 0;
  }
}
