// Color your links
// use:
// @include link($red);

@mixin link(
  $color,
  $hover: $color,
  $underline: underline,
  $underline-hover: $underline
) {
  text-decoration: $underline;
  color: $color;

  &:visited {
    color: desaturate($color, 5%);
  }

  &:hover,
  &:focus,
  &:active {
    @if ($hover != $color) {
      color: $hover;
    } @else {
      color: lighten($hover, 15%);
    }

    text-decoration: $underline-hover;
  }

  &:focus {
    outline: 0;
  }
}
