// lists
// resetting listis

%list--horizontal {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin list-style(
  $icon,
  $color: inherit
  ) {

  list-style: none;

  li {
    display: block;
    margin: .7em 0;
    padding-left: 1em;

    &::before {
      @extend %icon;
      display: block;
      float: left;
      margin: .4em .5em 0 -1.5em;
      color: $color;
      font-size: .65em;
      content: $icon;
    }
  }
}

@mixin list-numbered(
  $color: inherit
  ) {

  margin: .5em 0 1em;
  padding-right: 0;
  counter-reset: numbered-counter;

  li {
    margin: .7em 0;
    padding-left: 1.5em;
    list-style-type: none;

    &::before {
      display: block;
      float: left;
      margin: 0 .5em 0 -1.45em;
      color: $color;
      content: counter(numbered-counter)'.';
      counter-increment: numbered-counter;
    }
  }
}
