// lists
// resetting listis

%list--horizontal {
  list-style: none;

  li {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin list-style(
  $icon,
  $color: inherit
  ) {

  list-style: none;

  li {
    display: block;
    margin: .7em 0;
    padding-left: 1em;

    &::before {
      @extend %icon;
      display: block;
      float: left;
      margin: .4em .5em 0 -1.5em;
      color: $color;
      font-size: .65em;
      content: $icon;
    }
  }
}

