// based on html5doctor.com Reset Stylesheet
@import 'commons/utilities/_browserize';

html,
body {
  margin: 0;
  border: 0;
  padding: 0;
}

div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
header,
footer,
hgroup,
nav,
section {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  float: none !important;
  text-align: left;
  font-weight: normal;
}

table,
th,
td {
  vertical-align: top;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

blockquote,
q {
  quotes: none;

}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

* {
  @include normalize;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
dialog
{
  display: block;

}

input,
select {
  vertical-align: middle;
}

button {
  outline: none;
  width: auto;
  -webkit-border-fit: border !important;
  -webkit-appearance: none;
  overflow: visible;

  &:focus {
    outline: 0;
  }
}

button::-moz-focus-inner {
  margin: 0;
  border: 0;
  padding: 0;
}

body:before {
  float: left;
  margin-top: -32767px;
  width: 0;
  height: 100%;
  content: '';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
