// positioned sticky footer
// must define height
// use:
// @include sticky-footer(10em);

@mixin sticky-footer(
  $footer-height,
  $footer-selector: unquote('footer')
  ) {

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin: 0 0 $footer-height;
  }

  #{$footer-selector} {
    @include position(absolute, auto auto 0 0);
    width: 100%;
    height: $footer-height;
  }
}

