// return opposite direction of top right bottom left center args

@function opposite-position($direction) {
  @if $direction == 'top' {
    $result: 'bottom';
  }
  @elseif $direction == 'bottom' {
    $result: 'top';
  }
  @elseif $direction == 'left' {
    $result: 'right';
  }
  @elseif $direction == 'right' {
    $result: 'left';
  }
  @else {
    $result: 'center';
  }

  @return $result;
}

// show an arrow

@mixin triangle($direction, $position, $color, $size: 1em) {
  @include position(absolute, $position);
  content: ' ';
  z-index: 2;
  width: 0;
  height: 0;

  border-#{opposite-position($direction)}: $size solid $color;
  $perpendicular-border: $size solid $transparent;

  @if $direction == top or $direction == bottom {
    border-right: $perpendicular-border;
    border-left: $perpendicular-border;
  }

  @else if $direction == right or $direction == left {
    border-top: $perpendicular-border;
    border-bottom: $perpendicular-border;
  }
}
