// Responsive colored border to an element for easy debugging
// use:
// @include debug;

// default colors for debug
$col-debug-wide:        rgba(0,172,101,1) !default;
$col-debug-normal:      rgba(178,104,219,1) !default;
$col-debug-small:       rgba(49,143,143,1) !default;
$col-debug-mobile:      rgba(233,102,44,1) !default;
$col-debug-widescreen:  rgba(235,175,60,1) !default;

@mixin debug {
    border: solid 1px $col-debug-wide;
    @include breakpoint(normal) {
        border: solid 1px $col-debug-normal;
    }
    @include breakpoint(small) {
        border: solid 1px $col-debug-small;
    }
    @include breakpoint(mobile) {
       border: solid 1px $col-debug-mobile;
    }
     @include breakpoint(widescreen) {
       border: solid 1px $col-debug-widescreen;
    }
}