// default colors for debug
$debug-colors: (
  'wide':        rgba(0, 172, 101, 1),
  'normal':      rgba(178, 104, 219, 1),
  'small':       rgba(49, 143, 143, 1),
  'mobile':      rgba(233, 102, 44, 1),
  'widescreen':  rgba(235, 175, 60, 1),
);


// Responsive colored border to an element for easy debugging
// use:
// @include debug;

@mixin debug {
  border: solid 1px map-get($debug-colors, col-debug-wide);

  &:after {
    @include position(absolute);
    display: inline-block;
    margin-top: -1.2rem;
    background: map-get($debug-colors, col-debug-wide);
    padding: .2em .5em;
    color: $white;
    font-size: .8rem;
    content: 'default'
  }

  @each $screenname, $query in $breakpoints {
    @if $screenname == null {
      @error "No responsiveness found";
    }

    @else {
      @include breakpoint(#{$screenname}) {
        border-color: map-get($debug-colors, $screenname);

        &:after {
          background: map-get($debug-colors, $screenname);
          content: '#{$screenname}';
        }
      }
    }
  }
}
