// An one-liner for inline-block
// use:
// @include inline-block(bottom);

@mixin inline-block($valign: top) {
  display: inline-block;
  vertical-align: $valign;
}

// An one-liner for inline-block with gap fix
// use:
// @include inline-block-no-margin;

$inline-block-gap:  .28rem !default;

@mixin inline-block-no-margin($valign: top) {
  @include inline-block($valign);
  // scss-lint:disable DuplicateProperty
  margin-right: -$inline-block-gap-flb;
  margin-right: -$inline-block-gap;
  // scss-lint:ebable DuplicateProperty
}


// Push text out of visibility
// use:
// @include hidden-text;

@mixin hidden-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
