// fixing parent clearance with floated children
// use:
// @include clearfix;

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
        height:0px;
    }
    &:after {
        clear: both;
    }
}

// automatic clear after an element that is floated
// use:
// @include clearafter;

@mixin clearafter {
    &:after {
        content: " ";
        display: table;
        height:0px;
        clear: both;
    }
}

// An one-liner for clearing
// use:
// @include clear;

@mixin clear($side: both) {
	clear: $side;
}

// An one-liner for floating
// use:
// @include float(left);

@mixin float(
		$side: left,
		$display: inline
	) {
	display: unquote($display);
	float: unquote($side);
}