@mixin font-face(
  $font-url,
  $version,
  $name,
  $weight: unquote('normal'),
  $style: unquote('normal')
  ) {
  @font-face {
    font-family: quote($name);
    font-weight: $weight;
    font-style: $style;
    src: url('#{$font-url}.eot?#{$version}');
    src: url('#{$font-url}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-url}.woff?#{$version}') format('woff'),
         url('#{$font-url}.ttf?#{$version}') format('truetype'),
         url('#{$font-url}.svg?#{$version}##{$name}') format('svg');
  }
}
