// An one-liner for width, min-width and max-width
// use:
// @include width(100%, 500px, 1200px);

@mixin width(
  $size:auto,
  $min:auto,
  $max:auto
  ) {
  @if $size != auto {
    width: $size;
  }

  @if $min != auto {
    min-width: $min;
  }

  @if $max != auto {
    max-width: $max;
  }
}


// An one-liner for height, min-height and max-height
// use:
// @include height(100%, 100px, 600px);

@mixin height(
  $size:auto,
  $min:auto,
  $max:auto
  ) {
  @if $size != auto {
    height: $size;
  }

  @if $min != auto {
    min-height: $min;
  }

  @if $max != auto {
    max-height: $max;
  }
}
