// an one-liner for width, min-width and max-width
@mixin width(
        $size:auto,
        $min:auto,
        $max:auto
    ) {
    @if $size != auto {
        width: $size;
    }
    @if $min != auto {
        min-width: $min;
    }
    @if $max != auto {
        max-width: $max;
    }
}

// an one-liner for height, min-height and max-height
@mixin height(
        $size:auto,
        $min:auto,
        $max:auto
    ) {
    @if $size != auto {
        height: $size;
    }
    @if $min != auto {
        min-height: $min;
    }
    @if $max != auto {
        max-height: $max;
    }
}