@include centered-content(90%, $max-page-width, 95%, 90%, '.header__container', '.header');

.header__container {
  margin-bottom: 1em;
  background: $bg-color;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
}

.header__title {
  @extend %title;
}
