// normalizing button styles
@mixin button-size(
    $font-size: $bt-font-size,
    $padding: $bt-padding-default,
    $corner-radius: $bt-corner-radius
  ) {
  @include position(relative, auto auto auto auto, 1);

  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-radius: $corner-radius;
  padding: $padding;
  -webkit-appearance: none;
  width: auto;
  min-width: $bt-min-width;

  font-size: $font-size;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

// button skins
@mixin button-skin(
    $color,
    $typography-color: $black,
    $hoverable: true
  ) {
  margin-bottom: .5em;
  box-shadow: 0 4px 0 0 darken($color, 10%),
    0 2px 0 1px transparentize(darken($color, 30%), .9);
  border: 0;
  background: $color;
  color: $typography-color;

  @if $hoverable == true {
    &:hover {
      @include gradient(lighten($color, 5%), $color);
      box-shadow: 0 4px 0 0 darken($color, 15%),
        0 5px 1px 1px transparentize(darken($color, 30%), .8);
      color: lighten($typography-color, 5%);
    }

    &:active {
      top: 1px;
      outline: none;
      box-shadow: 0 3px 0 0 darken($color, 10%),
        0 4px 1px 1px transparentize(darken($color, 30%), .8);
      background: $color;
    }

    &:focus {
      outline: 0;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      top: 0;
      border: 0;
      box-shadow: 0 4px 0 0 darken($color, 10%),
        0 2px 0 1px transparentize(darken($color, 30%), .9);
      background: $color;
      background-image: none;
      cursor: default;
      color: $typography-color;
    }
  }
}


// placeholders for button sizes
%button-xl {
  @include button-size(1.1em, .7em 3em, .3em);
}

%button-m {
  @include button-size(1em, .7em 2em, .3em);
}

%button-s {
  @include button-size(1em, .5em 2em, .3em);
}

// placeholders for button colors
%button-primary-color {
  @include button-skin($bt-color--primary, $white);
}

%button-secondary-color {
  @include button-skin($bt-color--secondary, $white);
}

%button-disabled-color {
  @include button-skin($bt-color--disabled, $white, false);
}


// implementation
.bt--primary {
  @extend %button-m;
  @extend %button-primary-color;

  &:disabled {
    @extend %button-disabled-color;
  }
}

.bt--secondary {
  @extend %button-m;
  @extend %button-secondary-color;

  &:disabled {
    @extend %button-disabled-color;
  }
}

.bt--cta {
  @extend %button-xl;
  @extend %button-primary-color;

  &:disabled {
    @extend %button-disabled-color;
  }
}

.bt--silent {
  @extend %button-s;
  @extend %button-secondary-color;

  &:disabled {
    @extend %button-disabled-color;
  }
}

.bt--disabled {
  @extend %button-disabled-color;
}
