// Define screen sizes for
// @mixin breakpoint(...)

// most-user screen widths
$breakpoint-width-huge:       1200px !default;
$breakpoint-width-normal:     1024px !default;
$breakpoint-width-small:      768px !default;
$breakpoint-width-mobile:     480px !default;

$breakpoint-height-small:   680px !default;

$breakpoints: (
  'mobile-up': (min-width: $breakpoint-width-mobile),
  'small-up': (min-width: $breakpoint-width-small),
  'normal-up': (min-width: $breakpoint-width-normal),
  'small-down': (max-width: $breakpoint-width-small - 1),
  'normal-down': (max-width: $breakpoint-width-normal - 1),
  'huge-down': (max-width: $breakpoint-width-huge - 1),
  'mobile': (max-width: $breakpoint-width-mobile - 1),
  'small': (min-width: $breakpoint-width-mobile, max-width: $breakpoint-width-small - 1),
  'normal': (min-width: $breakpoint-width-small, max-width: $breakpoint-width-normal - 1),
  'big': (min-width: $breakpoint-width-normal, max-width: $breakpoint-width-huge - 1),
  'huge': (min-width: $breakpoint-width-huge),
  'widescreen': (min-width: $breakpoint-width-normal, max-height: $breakpoint-height-small),
);

// build @media queries for
// @mixin breakpoint(...)
@import 'commons/utilities/responsive';
