// based on html5doctor.com Reset Stylesheet
@import "utilities/vendor/_browserizing";

html {
    margin:0;
    padding:0;
    border:0;
}

body,
div,
span,
object,
iframe,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl, dt, dd,
ol, ul, li,
fieldset,
form,
label,
legend,
caption,
table, tbody, tfoot, thead,
tr, th, td,
article,
aside,
dialog,
figure,
header, footer,
hgroup,
nav,
section {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

caption,
th,
td {
    text-align:left;
    font-weight:normal;
    float:none !important;
}

table,
th,
td {
    vertical-align:top;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content:'';
}

blockquote,
q {
    quotes:none;

}

a img {
    border:none;
}

:focus {
    outline:0;
}

* {
    @include normalize;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
dialog
{
    display:block;

}

input,
select {
    vertical-align:middle;
}

button {
    width: auto;
    overflow: visible;
    outline: none;
    -webkit-border-fit:border !important;
    -webkit-appearance: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin:0;
}

body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}